body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 64px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: palegoldenrod;
  border: 2px solid grey;
  border-radius: 24px;
}
